/**

LGPL http://www.gnu.org/licenses/lgpl.html
© 2012–2013 frederic.glorieux@fictif.org
© 2013–2015 frederic.glorieux@fictif.org et LABEX OBVIL

 *
 • (all) — no support for: :empty; display:oeb-page-head, oeb-page-foot; font-family:cursive,fantasy;
 • FBReader — no CSS support
 • Adobe Digital Editions — italic with @font-face should be separately declared ; CSS hack http://www.mobileread.com/forums/showpost.php?p=744547&postcount=60
 • Sony PRS-350 —
 • FireFox EPUBReader — be careful with font-style:oblique
 • Kindle — fonts: Georgia, Caecilia, Trebuchet, Verdana, Arial, "Times New Roman", Courier, and Lucida.
 • IBooks — make it fool (pages lost) body, html {display:block;height:100%; margin:0px; padding:0px; border-width:0px;widows: 0;orphans: 0;page-break-inside:avoid;}

@links
http://wiki.mobileread.com/wiki/CSS_HowTo
*/
/** Specific Adobe Digital Editions, will be set by ade.xpgt, for small-caps */
/*
@font-face { font-family: 'small-caps'; font-style: normal; src: url(AlegreyaSansSC-Regular.ttf); }
*/

html {
    height: 100%
}
body {
    height: 100%
}
/* height: 100% => page break in ADE */

body {
    font-family: Georgia, Amasis, Malabar, serif;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    adobe-hyphenate: auto;
    hyphens: auto;
}

/** alignments, em values as fallback if no rem support */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

@page {
    margin-left: 2ex;
    margin-right: 1ex;
    margin-top: 2ex;
    margin-bottom: 0ex;
}

article,
details,
figcaption,
figure,
main,
nav,
section,
summary {
    display: block;
}

article {
    margin-top: 1em;
}

/* ---------------------------------------- HTML5 TAGS ---------------------------------------- */

a:target,
mark:target,
b.mark:target {
    border-bottom: 3px #CCCCCC solid;
    background-color: #FFFFEE;
    border-top-left-radius: 0;
}

section:target {
    background: transparent !important;
    border-left: none;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px #999;
    color: #336;

}
a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    -webkit-border-radius: 0.3ex;
    -moz-outline-radius: 0.3ex; /* -moz-outline-radius seemed wrong */
    border-radius: 0.3ex;
    border-bottom-color: inherit;
    text-decoration: none;
}

a.bookmark {
    font-size: 60%;
}

li.bibl { /*  TEI, citation bibliographique */
    list-style: circle;
} /* like li.witness */

blockquote .bibl {
    margin-left: 2em;
    display: block;
}

cite { /*  à conserver */
    font-style: normal;
}

nav a {
    border-bottom: none;
}

input[readonly],
input.readonly {
    background: #CCCCCC;
}

/* p { orphans: 2; widows: 2; } pb dans .sp */

section { /* contient le texte des parties, chapitres, notes, dédicaces en page de titre, colophon.  */
    clear: both;
}

section.div {
    padding-top: 3em;
}

/** ----------------  TEI ELEMENTS, in TEI element name order, before type modifier in next block ---------------- */

.argument { /* gère des listes ou une description en prose */
    margin: 0 0 1em 0;
    text-indent: 0;
    font-style: italic;
    text-align: justify;
    font-size: 85%;
    line-height: 105%;
}

p.argument {
    font-style: normal;
}

.argument p {
    text-indent: 0;
}

/* .back p, .front p { text-indent: 0; } no indent in paratext */

p.caption {
    font-weight: bold;
}
.cb,
.ed,
small.l,
small.l-n {
    font-weight: normal;
    font-style: normal;
    float: right;
    color: grey;
    font-size: 65%;
    margin: 0.2ex 0 0 1ex;
    text-indent: 0;
    text-decoration: none;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

small.ed {
    color: grey;
    font-size: 90%;
}

h1.collection,
h1.collection-sub {
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h1.collection {
    text-transform: uppercase;
}

.drama > .opener > .dateline,
.legal > .opener > .dateline,
.letter > .opener > .dateline,
.narrative > .opener > .dateline,
.poem > .opener > .dateline,
.press > .opener > .dateline,
.treatise > .opener > .dateline {
    margin: 0.5em 2em 0.5em 0;
}
.drama > .closer > .dateline,
.letter > .closer > .dateline,
.legal > .closer > .dateline,
.narrative > .closer > .dateline,
.poem > .closer > .dateline,
.press > .closer > .dateline,
.treatise > .closer > .dateline {
    margin: 0.5em 2em 0.5em 0;
}

h1.desc {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 117%;
} /* <titlePart type="desc"> */
/* .body > .div { border-bottom: 1px #CCCCCC solid; padding-bottom: 3em; } */

.entry > * {
    margin-left: 2em;
}
.entry > .form {
    margin-left: 0;
}

.floatingText {
    line-height: 120%;
    padding: 0% 1% 1% 5%;
    background-color: #F8F7F4;
}
.foreign {
    font-style: italic;
}
.forename {
    font-variant: normal;
}
.form {
    font-weight: bold;
}

/*
.l.part-M { margin-left: 3em; text-indent: 0; padding-left: 0; }
.l.part-F { margin-left: 6em; text-indent: 0; padding-left: 0;  }
.l.part-Y { text-indent: 3em; }
*/
.lb {
    color: grey;
    font-size: 85%;
}
p.label,
div.label {
    margin: 0.7em 0;
    line-height: 110%;
    text-align: center;
    text-indent: 0;
    orphans: 0;
}

section > div.note {
    padding: 2px 1ex 2px 1ex;
    background-color: #DDDDDD;
}

.note p {
    margin: 0;
    text-indent: 1em;
}
.note p.noindent {
    text-indent: 0;
}
p.note {
    text-indent: 0;
    margin-top: 1ex;
    margin-bottom: 1ex;
}
.note blockquote {
    margin: 1ex 0;
}
.notes-abc,
.notes-123,
.notes-misc {
    margin-top: 1ex;
}

.note-margin-left {
    float: left;
    margin-left: -2em;
    margin-right: 1ex;
}

.num {
    font-family: inherit;
    line-height: 100%;
    font-variant: small-caps;
}
.num sup {
    font-variant: normal;
    font-family: inherit;
}
.footnotes .page {
    margin-top: 1em;
}
.footnotes .page .note {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

span.space {
    display: inline-block;
}

hi.i,
h2.sub,
h2.i,
h3.sub,
h4.sub,
h5.sub,
h6.sub {
    font-style: italic;
    font-weight: normal;
    border: none;
    margin-top: 0;
    padding-top: 0;
}
.scene h2 {
    font-weight: normal;
    font-style: italic;
}
.sourceDesc {
}
.subtitle {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    margin-bottom: 2em;
}
section section .subtitle {
    font-size: 150%;
}
.surname {
    font-variant: small-caps;
}
.trailer {
    font-style: italic;
    text-align: center;
    text-indent: 0;
    margin-top: 2em;
}
li.witness {
    list-style: square;
    font-size: 90%;
}
.witness label,
a.wit,
i.wit,
a.msDesc {
    font-style: italic;
    color: #000;
} /* witness letter */


/* ----------------- @rend, @type useful classes, in alphabetic order ----------------- */

.alert {
    color: #971716;
    font-size: 120%;
}
.attention {
    color: red;
}
.b,
.bold {
    font-weight: bold;
}
.border {
    border: 1px solid #808080;
    padding: 1ex;
}
blockquote.border {
    border: none;
    padding: inherit;
}
h1:hover a.bookmark,
h2:hover a.bookmark,
h3:hover a.bookmark,
h4:hover a.bookmark,
h5:hover a.bookmark,
h6:hover a.bookmark,
a.bookmark:hover {
    color: #808080;
}

.center p {
    text-align: inherit;
    text-indent: 0;
}
span.center {
    display: block;
}

.clear {
    clear: both;
}
.clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

span.exquote {
    font-style: normal;
} /* seg[@type='exquote'] */
.hanging {
    margin-left: 1.5em;
    text-indent: -1.5em
}

.justify {
    text-align: justify;
}
.left,
div.left {
    text-align: left;
}
.larger {
    font-size: larger;
    font-weight: bold;
}
.ls,
.letter-spacing {
    letter-spacing: 0.4ex;
}
h1.main {
    margin-top: 1ex;
}
ul.menu {
    font-size: 85%;
    line-height: 95%;
}
.margin {
    margin-left: 20%;
    text-indent: 0
}
.noborder {
    border: none;
}
.normal,
.n {
    quotes: '' '';
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border-bottom: none;
    font-variant: normal;
    text-transform: none;
}

div.ornament {
    line-height: 95%;
    letter-spacing: 0.6em;
    margin: 1em 5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.page-break-before {
    page-break-before: always;
    height: 2em;
    height: 2rem;
}
.page-spacer {
    margin-top: 6em;
    height: 5em;
    border-top: 1px #CCCCCC solid;
}

.sb {
    font-size: 200%;
    margin: 1em;
    text-indent: 0;
}

.small {
    font-size: 70%;
}
h1.sub {
    font-size: 100%;
    padding-top: 0;
}

.u,
.underline {
    text-decoration: underline;
}
.uc,
.uppercase,
.maj {
    text-transform: uppercase;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.prev:before {
    content: '<'
}
a.next:after {
    content: '>'
}
mark a.prev,
.mark a.prev {
    background-color: white
}
mark a.next,
.mark a.next {
    background-color: white
}

/* -------------------------------------- PAGE DE TITRE ---------------------------------------- */

.title {
    font-style: italic;
}
.title abbr {
    font-variant: small-caps;
}
.title em,
.title i {
    font-style: normal;
}
i .title,
.i .title {
    font-style: normal;
}

.titlePage p,
.titlePage blockquote,
.titlePage .l {
    text-align: center;
    text-indent: 0;
    margin-left: auto;
    margin-right: auto;
}
.titlePage p {
    margin-top: 1em;
    margin-bottom: 1em;
}
.titlePage .argument {
    font-style: normal;
    margin: 1em auto 1em auto;
    text-align: center;
}
.titlePage .byline {
    font-weight: bold;
    margin-top: 4em;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.titlePage .docAuthor {
    margin-top: 1em;
    margin-bottom: 1em;
}
.titlePage figure {
    border: none;
    margin-top: 5em;
    font-weight: normal;
}
.titlePage > .docImprint {
    font-size: 75%;
    line-height: 120%;
}
.titlePage div.rights {
    font-size: 65%;
}
.titlePage .docDate {
}

.titlePage {
    text-align: center; /* positionnement de l'ensemble du bloc contenant auteur, CH, partie et ss-partie, titre */
    margin-top: 0.5em;
}

.docAuthor { /* auteur */
    font-size: 125%;
    font-variant: small-caps;
    margin-bottom: 0.5em;
}

.rule { /* filet sous le nom de l'auteur */
    border-bottom: 0.08em solid;
    display: inline-block;
    width: 7%;
}

.titlePart.main,
.titlePart.group { /*  "La Comédie humaine" */
    font-size: 140%;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    letter-spacing: .03em;
}

.titlePage h1.sub { /* partie & sous-partie de la Comédie humaine */
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    font-size: 85%;
}

.titlePage .docAuthor {
    margin-top: 1em;
    margin-bottom: 0.5em; /* La marge au dessus de la CH */
}

.titlePart:nth-child(4n) { /*  concerne le titre de l'ouvrage uniquement */
    font-size: 200%;
    margin-top: 2em;
    letter-spacing: .05em;
}

.imgLogo { /*  logo eBalzac */
    text-align: center;
    margin-top: 17em;
}

/* ---------------------------------- PAGE D'AVERTISSEMENT & CREDITS ---------------------------------------- */

.prelim {
    margin-left: 20%;
    margin-right: 20%;
    font-style: normal;
}

.prelim h1 {
    margin-top: 2em;
}

.framingRule {
    border-bottom: 0.05em solid;
    border-top: 0.05em solid;
    display: inline-block;
    width: 100%;
    padding: 0;
    line-height: 2em;
}

.principal {
    margin-bottom: 0.7em;
    font-weight: bold;
}

/* ---------------------------------- DEDICACES, PREFACES EN FRONT-1 ---------------------------------------- */

.preface .dateline { /*  hist des treize */
    margin: 2em 2em 6em 0;
}

section.dedication,
section.privilege,
section.preface {
    page-break-before: right;
}

.dedication {
    font-style: italic;
}

.salute.dedication { /* histoire des treize */
    text-align: center;
    font-style: normal;
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

.dedication .salute {
    margin-right: 20%;
}

div.salute,
p.salute {
    margin: 1em 0 1em 4em;
    text-indent: 0em;
    font-style: normal;
    text-align: right;
}

/*  -------------------------------- CORPS DE TEXTE --------------------------------- */

/*  ---------------- gestion des parties --------------- */

h1 .part { /*  espace le numéro de la partie en créant un blanc */
    font-size: 0.85em;
    font-style: normal; /* passe les itals en romain */
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    margin-top: 5em;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: auto;
    padding-bottom: 0.5em;
    line-height:150%
}

h1 em{
    border-bottom: 0.08em solid transparent; /*  filet transparent permettant de créer un blanc artificiel */
}

/*  ---------------- gestion des paragraphes ------------- */

p {
    margin: 0;
    text-align: justify;
    text-indent: 1.5em;
    text-indent: 1.5rem;
}

.noindent {
    text-indent: 0;
} /* automatic */

.indent {
    text-indent: 2em;
}

.c.drop-cap { /*  lettrine dans petites misères de la vie conjugale */
    display: none;
}

.i,
.italic {
    font-style: italic; /* Un italique seul est italique */
}

.i i,
.italic i,
.i em,
.italic em,
.i .title,
.italic .title {
    font-style: normal /* Un italique dans un italique est romain */
}
.title i {
    font-style: normal
}

i i,
i em,
em i,
em em {
    font-style: normal;
}

/*  ----------------- gestion des h1-h6 -------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-indent: 0;
    line-height: 110%;
    clear: both;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    -moz-hyphens: none;
    hyphens: none;
    page-break-after: avoid;
    page-break-inside: avoid;
    orphans: 0;
}

h1 { /*  concerne Avertissements, Crédits, titres de Parties, Notes */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    height: 2em;
    white-space: nowrap;
}

h1 a,
h1 a:link,
h1 a:visited,
h2 a,
h2 a:link,
h2 a:visited,
h3 a,
h3 a:link,
h3 a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}
h1 small {
    font-weight: normal;
    font-size: 85%;
    opacity: 1;
    letter-spacing: normal;
    font-variant: normal;
    text-shadow: none;
}
h1 a:hover {
    border-bottom-color: inherit;
}

h1 { /*  concerne tous les h1, même les titres de parties */
    margin-bottom: 3em;
}


h2 { /* concerne les titres de chapitres */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1ex;
}
h4 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1ex;
    text-align: left;
}
h5 {
    font-size: .83em;

}
h6 {
    font-size: .67em;
}

h3, /* h3 concerne les titres de chapitre */
h4 {
    margin-left: 1.5em;
    text-indent: -1.5em;
    padding-left: 1.5em;
    text-align: left;
    margin-left: 1.5rem;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
}

/* -------- gestion des indices, exposants -------- */

sup,
sub { /*  sub gère les appels de notes, les astérismes */
    font-variant: normal;
    line-height: 5%;
    font-size: 65%;
    color: black;
}

sup { /*  sup = exposant */
    vertical-align: super;
}

sub {
    vertical-align: sub; /*  sub = indice */
}

.right { /*  concerne de rares éléments ferrés à droite */
    text-align: right;
}
p.right {
    margin-bottom: 1em;
}
div.right {
    margin-left: 25%;
}

.center, /*  concerne de rares éléments centrés */
div.center {
    text-align: center;
    text-indent: 0;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
}

/* --------------  gestion des citations -------------- */

blockquote { /* conteneur de l, quote */
    margin: 1rem 0 1rem 0rem;
    text-align: justify;
    line-height: 130%;
    font-size: 95%;
    padding: 0;
}

blockquote p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

q {
    quotes: '' '';
}
q q {
    font-style: italic;
}

/* ------------ gestion des didascalies --------------- */

.stage { /* didascalies insérées dans le texte */
    font-style: italic;
    font-variant: normal;
    font-size: 95%;
}


div.stage { /* paragraphe indépendant de didascalies */
    text-align: justify;
    margin-top: 2ex; /* 1 */
    margin-bottom: 2ex;
    font-size: 95%;
}

.sp div.stage {
    /*  margin-left: 1.5rem; */
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    line-height: 120%;
}

/* ----------------- gestion des dialogues ------------------------ */

div.speaker,
p.speaker {
    margin-top: 1.2em;
    margin-bottom: 1em;
    font-weight: normal;
    text-indent: 0;
    text-align: center;
    font-size: 85%;
    /*  text-transform: uppercase; */
    font-variant: small-caps;
}

.speaker i,
.speaker em {
    font-variant: normal;
    text-transform: none;
    font-size: 100%;
}

.sp {
    widows: 2;
    orphans: 2;
}
.sp p {
    text-indent: 0;
    line-height: 15%;
}
div .sp { /* blanc entre les speakers + leur dialogue et le speaker suivant */
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}

p .autofirst {
    margin-bottom: 0.9ex;
}
.stage .i,
.stage em,
.stage i {
    font-style: normal;
}

div.stage.sc {
    font-style: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 95%;
    margin-bottom: 1ex;
}

/* ----------------- gestion des tableaux ------------------ */

table a {
    border: none;
}
table a:hover {
    border-width: 0;
}

td.i {
    font-style: italic;
    width: 100% /*  force le tableau à se ferrer à droite ET à gauche */
} /*  petites misères de la vie conjugale, illusions perdues */
td.right {
    text-align: right;
    width: 20%;
} /*  petites misères de la vie conjugale, illusions perdues */
tr.total {
    font-weight: bold;
} /*  petites misères de la vie conjugale, illusions perdues */
tr.total td.i {
    padding: 1em 4em 1em 0em;
    text-align: right
} /*  petites misères de la vie conjugale, illusions perdues */
#pi,
#pii,
#piii {
    font-variant: small-caps;
} /*  petites misères de la vie conjugale */
.treatise .label {
    font-variant: small-caps;
} /*  petites misères de la vie conjugale */
table {
    margin-top: 2em;
    margin-bottom: 2em;
} /*  petites misères de la vie conjugale */

/* -------------- gestion des poèmes et vers seuls ---------------- */

div .poem { /* poème */
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 100%;
}

div.lg { /*  groupe de vers */
    margin-top: 1.2em; /* 0.7 */
    margin-bottom: 1.2em; /* 0.7 */
}

div.l { /*  ligne unique de vers, y compris dans les poèmes */
    text-align: left;
    text-indent: -1.5em;
    padding-left: 1.5em;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
}

.quote div.l { /*  ligne unique de vers, hors poèmes */
    margin-left: 3em;
}

.poem .indent{ /*  indentation de certains poèmes */
    margin-left: 2em;
}

/* ---------------- gestion des lettres ------------------ */

.letter .indent { /*  indentation de certaines lettres */
      margin-left: 2em;  
}

div .letter { /*  blancs autour des lettres */
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.letter {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.letter > .dateline {
    margin: 0.5em 2em 0.5em 0;
}

.dateline {
    text-align: right;
    margin: 2em 0 0 0;
}

.letter .salute {
    text-align: left;
    font-style: inherit;
}

.signed {
    margin-top: 1em;
    margin-bottom: 2em;
    text-indent: 0;
    text-align: right;
    margin-right: 1.7em; /*  retrait à droite des signatures */
}

.sc,
.smallcaps,
.small-caps,
.pmaj {
    font-variant: small-caps;
    font-style: normal;
}

/* ---------------------- gestion des legal ------------------------ */

.legal {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ---------------------- gestion des press ------------------------ */

.press {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* ------------- gestion des pages imprimées insérées --------------- */

.narrative.q.olympia { /* la muse du dept */
    margin: 1.5em 25%;
}

.narrative.q.olympia .fw.header { /* la muse du dept */
    display: flex;
    justify-content: space-between;
    font-size: 75%;
    margin-bottom: 0.5em;
}

.narrative.q.olympia p { /* la muse du dept */
    text-align: justify;
}

.narrative.q.olympia .suite { /* la muse du dept */
    text-align-last: justify;
}

.narrative.q.olympia .label { /* la muse du dept */
    text-align: center;
    font-weight: bold;
}

.narrative { /* albert savarus et autres */
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* --------- gestion des appels de notes et notes de bdp --------------- */
a.noteref,
a.noteback {
    text-decoration: none;
    border-bottom: none;
    font-style: normal;
    font-variant: normal;
    padding: 0 0.2ex 0 0.2ex;
    font-family: GothicMB101, Gothic, sans-serif; /* Kobo: sans-serif italic pb */
}

a.noteref:hover,
a.noteback:hover {
    text-decoration: none;
    border-bottom: solid 1px;
}
a.noteback {
    font-size: 85%;
    padding-right: 1em;
    font-weight: bold;
}

a.note {
    font-family: GothicMB101, Gothic, sans-serif; /* Kobo: sans-serif italic pb */
    background-color: green;
}
/* ------------------- gestion des pages ---------------------- */

.pb { /*  gère les {pages} dans le texte*/
    font-weight: normal;
    font-style: normal;
    color: gray;
    font-size: 65%;
    margin: 0.2ex 1ex 0 0.2ex;
    text-indent: 0;
    text-decoration: none;
    border: none;
    font-family: GothicMB101, Gothic, sans-serif; /* Kobo: sans-serif italic pb */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


no-edition .roman-html a.pb { /* Patho de la vie sociale */
    position: absolute;
    left: -6.5em;
    padding: 2px 5px;
    color: #2A2B2F;
    background: #ddf7d4;
    font-size: 12px;
    font-style: normal;
    text-indent: 0;
}

/* ------------------- gestion des images ----------------------*/

a img {
    border: none;
}

#img125, /* petites misères de la vie conjugale */
#img213,
#img218 {
    width: 50%;
}

.figure.float-left + p, /* petites misères de la vie conjugale */
.figure.float-right + p {
    margin-top: 0; /* was empty on the website! */
}

#img135 { /* petites misères de la vie conjugale */
    width: 30%;
}
#img24 { /* petites misères de la vie conjugale */
    height: 15em;
    width: auto;
}

.ornament img { /* petites misères de la vie conjugale */
    width: 15%;
}

#img1 { /*  les employés */
    width: 30%;
}
#gobseck { /*  les employés */
    text-align: right;
}

#img1 { /* la peau de chagrin */
    width: 50%;
}

#fig1 { /* la peau de chagrin */
    text-align: right;
}

.figure {
    line-height: 110%;
    font-size: 85%;
    margin: 1em 0 1em 0;
    background: #EEE;
    border: solid 1px #999;
    text-align: center;
}
.figure > * {
    display: inline-block;
}
.figure a {
    text-decoration: none;
    border-bottom: none;
}
.figure a:hover {
    text-decoration: none;
    border-bottom: none;
}

figure {
    display: block;
    padding: 6px;
    background: white;
    margin: 0;
    border: solid 1px #888888;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
figure.left {
    float: left;
    margin: 15px 15px 8px 0;
}
figure.right {
    float: right;
    margin: 15px 0 8px 15px;
}
figure img {
    padding: 6px;
}
figure a {
    text-decoration: none;
    border-bottom: none;
}
figure a:hover {
    text-decoration: none;
    border-bottom: none;
}

.figcaption {
    font-style: italic;
}

figcaption {
    display: block;
    font-size: 0.8em;
    padding: 6px 8px;
    background: #dddddd;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}
figcaption img {
    float: right;
    display: block;
    padding-left: 6px;
    margin-right: -10px;
    margin-top: -8px;
}

/* ------------------------------------------------- NOTES ------------------------------------------------ */

.note-page { /*  gère le numéro de page des notes dans NOTES */
    font-size: 0.8em;
}

.footnotes {
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 10%;
}
hr.footnotes {
    width: 15%;
    text-align: left;
    margin-right: auto;
    margin-left: 0;
}

/* ---------------------------------- TABLE DES MATIERES & LISTES ---------------------------------------- */

ul.none,
ol.none,
ul.simple,
ol.simple,
ol.tree,
ol.tree ol,
ul.tree,
ul.tree ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
} /* concerne mémoires jm, traité vie, patho, paysans, phisio mariage, petites misères  */

ul,
ol {
    padding-left: 1.5em;
    margin-left: 0;
    padding-left: 1.5rem;
}
li {
    padding-left: 0;
    margin-left: 0;
    line-height: 120%;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}
li p {
    margin: 0;
}
li pre {
    margin: 0;
}
li blockquote {
    margin: 1em 0 1em 0;
}
li blockquote p {
    text-indent: 1.5em;
}

ol.tree {
    margin-left: 10%;
    margin-top: 3.5em;
    padding-left: 0;
}

ol.tree > li {
    line-height: 1.5em; /* Interlignage liste TOC */
}

.framingRuleSmall {
    border-bottom: 0.05em solid;
    border-top: 0.05em solid;
    display: inline-block;
    width: 60%;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
}

/* ---------------------------------- COLOPHON ---------------------------------------- */

.docAuthor,
.docDate,
.docImprint,
.performance {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.colophon {
    margin-left: 10%;
    margin-right: 10%;
}


colophon a {
    text-align: center;
}

/* -------------------------------------------------  SELECTEURS INUTILES A PRIORI ---------------------------------------------- */

.todo {
    border: #F00 solid 1px;
    background: #FFC;
    padding: 1ex;
}

.dialogue {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dialogue li {
    line-height: 130%;
    text-align: justify;
    margin: 0;
}

textarea { /* affiche un bloc amovible contenant du texte */
    width: 100%;
    height: 20em;
    display: block;
}

aside header {
    border: none;
    padding-right: 1em;
    margin: 1em 0 3em 0;
}

header {
    clear: both;
    padding: 1ex;
    border: dashed #CCC 1px;
    -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
}

footer,
header,
aside {
    display: block;
}

legend {
    background: #FFF;
    white-space: normal;
    font-size: 105%;
    color: #666;
    font-weight: bold;
    padding: 0 1ex;
    margin: 1ex 0;
    text-decoration: underline;
}

fieldset {
    margin: 2em 0 1em 0;
    padding: 0 1ex 1ex 1ex;
}

fieldset div {
    line-height: 110%;
    margin: 0.5ex 0;
}

fieldset blockquote {
    margin: 0.5ex 0 0 0;
}

fieldset ul {
    margin: 0.5ex 0 0 0;
}

div.l.center {
    padding-left: 0;
}

/*  gère les éléments en sans-serif */
.argument,
li.bibl,
.cb,
figure,
.fileDesc > .editionStmt,
.fileDesc > .publicationStmt,
.fileDesc > .sourceDesc,
.figure,
menu,
.menu,
div.note,
small,
li.witness {
    font-family: GothicMB101, Gothic, sans-serif; /* Kobo: sans-serif italic pb */
}

.dialogue li {
    text-indent: 0.5em;
    text-indent: 0.5rem;
}

acronym {
    font-variant: small-caps;
}
address {
    font-style: normal;
    line-height: 110%;
}


dl.dl dt { /*  gère des listes définitions html : a priori inutile */
    font-weight: 900;
}
dl.dl dd {
    text-align: justify;
    color: #333;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

dd {
    text-align: justify;
}

big {
    font-weight: normal;
    font-size: 180%;
}

small {
    font-weight: normal;
}

dfn {
    font-style: normal;
}

hr {
    color: #E2DED0;
    border-left: none;
    border-top: 1px solid #E2DED0;
    border-bottom: 1px solid #999;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
}

caption {
    font-size: 1.1em;
    color: #000000;
    font-weight: bold;
    text-align: left;
    padding: 4px 2em 2px 2em;
}

thead { /*  en tete d'un tableau */
    background-color: #E2DED0;
}
tfoot { /*  pied de page d'un tableau */
    border-top: solid 1px #000000;
}

form label {
    padding: 0;
    line-height: 100%;
}

mark, /* highlighte une sélection de texte */
b.mark,
a.mark {
    background-color: #FFC;
    font-weight: bold;
}

div.author { /* TEI, nom d'un auteur dans des refs bibliographiques */
    font-variant: small-caps;
}

.availability { /* TEI, indique restriction, copyrights, licences éventuelles */
    margin: 2em 0;
    text-align: justify;
}

.byline { /*  TEI, indique un auteur du document */
    text-align: right;
    margin-left: 25%;
    margin-top: 4ex;
    text-indent: 0;
}

.byline .docAuthor {
    font-variant: small-caps;
}

.fileDesc { /* TEI */
    text-align: center;
}
.fileDesc > .titleStmt {
    text-align: center;
    margin: 0 0 5em 0;
    line-height: 150%;
}
.fileDesc > .editionStmt,
.fileDesc > .publicationStmt,
.fileDesc > .sourceDesc {
    text-align: left;
    line-height: 120%;
    font-size: 90%;
}

div.l dfn.gloss { /* TEI, définit des terms dans un glossaire */
    display: block;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    line-height: 110%;
    text-align: left;
    float: right;
    margin-left: 25em;
    width: 250px;
    background-color: #F3F3F3;
    text-indent: 0;
}

dfn.gloss {
    font-size: small;
}

p dfn.gloss,
div.gloss {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    line-height: 110%;
    text-align: left;
    font-size: small;
    background-color: #F3F3F3;
    text-indent: 0;
}